# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# Django stuff:
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
*.sqlite3

# Environment variables
.env

# Virtual Environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Packaging
*.egg
*.egg-info/
dist/
build/

# VS Code
.vscode/

# macOS
.DS_Store
